@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap');

body{
  
	background-color: #21D4FD;
	background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  	height: 100vh;
}
  
  
  
  
  
  

html {
  font-size: 100%;
}

#loginform {
    margin-top: 100px;
  max-width: 500px;
  min-width: 300px;
  width: 300%;
  max-height: 700px;
  height: 60%;
  margin: 100px auto;
  background-color: #FFFFFF;
  border-radius: 25px;
  padding: 2rem;
  margin-left: 20px;
}

#headerTitle {
    margin-top: 100px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  width: 80%;
  margin-top: 100px;
}

.row input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  font-size: 1.3rem;
  margin-left: 50px;
  box-shadow: inset 0px -3px 0px 0px rgba(187, 187, 187, 0.2);
  transition: box-shadow 0.2s ease-in;
}

.row input:focus {
  box-shadow: inset 0px -3px 0px 0px rgba(34, 193, 195, 0.7);
  outline: none;
  margin-left: 50px;
}

.row input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.25s ease-out;
}

.row input:hover::-webkit-input-placeholder,
.row input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.row label {
  align-self: start;
  
  margin-left: 50px;
  color: rgba(16, 13, 13, 0.9);
}

#li{
  border-radius: 25px;
  width: 100%;
  height: 40px;
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  
  margin-top: 10%;
  margin-left: 20px;
  background: linear-gradient(90deg, rgb(221, 218, 226) 0%, rgb(111, 45, 253) 100%);
  border: 0px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

  





#iconGroup {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

#iconGroup a {
  margin: 0 0.6rem;
}

#iconGroup #facebookIcon,
#iconGroup #twitterIcon,
#iconGroup #googleIcon {
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
}

#alternativeLogin {
  text-align: center;
  padding-top: 2rem;
  margin-top: 1.5rem;
}
